.card-links {
  padding-top: 4px;
  padding-bottom: 12px;
}

.card-content {
  padding-top: 17px;
  padding-bottom: 68px;
  @include mobile {
    padding-bottom: 118px;
  }
  &-page {
    display: flex;
    margin-bottom: 80px;
    @include laptop {
      margin-bottom: 67px;
    }
    @include tablet {
      margin-bottom: 28px;
      flex-direction: column;
    }
    @include mobile {
      margin-bottom: 73px;
    }
  }
  &-left {
    width: 49%;
    display: flex;
    margin-right: 32px;
    flex-direction: column;
    @include laptop {
      width: 55%;
    }
    @include tablet {
      width: 100%;
      margin-right: 0;
      margin-bottom: 18px;
    }
    @include mobile {
      width: 100%;
      margin-bottom: 0;
    }
    &__heading {
      margin: 0 0 8px 0;
      font: var(--font-strong-sans);
      line-height: 16px;
      color: var(--color-black);
    }
    &__text {
      margin: 0 0 auto 0;
      font: var(--font-small-sans);
      line-height: 25.2px;
      color: var(--color-black);
      @include tablet {
        width: 83%;
        margin: 0 0 32px 0;
      }
      @include mobile {
        width: 100%;
      }
    }
  }

  &-right {
    width: 43%;
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    @include tablet {
      width: 100%;
    }
    @include mobile {
      padding-top: 32px;
    }
  }
}

.card-slider {
  margin-bottom: 27px;
  @include laptop {
    margin-bottom: 27px;
  }
  @include tablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 32px;
    margin-bottom: 32px;
  }
  @include mobile {
    column-gap: 16px;
    margin-bottom: 16px;
  }
}

.slider-block {
  width: 100%;
  height: 245px;
  margin-bottom: 16px;
  overflow: hidden;
  @include laptop {
    height: inherit;
  }
  @include tablet {
    grid-row-start: 1;
    grid-column: span 6;
    margin-bottom: 32px;
  }
  @include mobile {
    margin-bottom: 7px;
    height: inherit;
  }
}

.card-swiper-slide {
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include laptop{
    height: auto;
  }
  @include mobile {
    align-items: flex-start;
  }
  &__img {
    transform: scale(1.9);
    @include laptop{
      transform: none;
    }
    @include mobile {
      height: 100%;
      transform: none;
    }
  }
}

.slider-nav {
  padding: 10px 25px;
  height: 81px;
  display: flex;
  background-color: #f6f6f6;
  @include tablet {
    grid-row-start: 2;
    grid-column: span 2;
    padding: 29px;
    height: 349px;
    flex-direction: column;
  }
  @include mobile {
    grid-column: span 6;
    margin-bottom: 16px;
    padding: 10px;
    height: 81px;
    flex-direction: row;
  }
  &__item {
    width: auto;
    height: 61px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  &_modal {
    display: none;
    padding: 20px 50px;
    background-color: #f6f6f6;
  }
}

.schematic {
  @include laptop {
    display: flex;
  }
  img {
    @include mobile {
      width: 48%;
      height: 50%;
    }
  }
}
.schematic__img {
  margin-right: 32px;
  @include laptop {
    margin-right: auto;
  }
  @include tablet {
    margin-right: 24px;
  }
  @include mobile {
    margin-right: auto;
  }
}

.p-offset {
  margin-bottom: 7px;
}

.card-description {
  display: flex;
  margin-bottom: 108px;
  flex-direction: column;
  @include laptop {
    margin-bottom: 68px;
  }
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
  &__heading {
    margin: 0 0 5px 0;
    font: var(--font-small-sans);
    font-size: 24px;
    line-height: 31.2px;
    color: var(--color-black);
    @include mobile {
      font-size: 16px;
      line-height: 20.8px;
    }
  }
  &__subtitle {
    margin: 0 0 21px 0;
    font: var(--font-small-sans);
    color: var(--color-grey);
    @include mobile {
      margin: 0 0 16px 0;
    }
  }
  &__price {
    margin: 0 0 19px 0;
    font: var(--font-small-sans);
    font-size: 36px;
    line-height: 46.8px;
    color: var(--color-black);
    @include mobile {
      margin: 0 0 17px 0;
      font-size: 24px;
      line-height: 31.2px;
    }
  }
  &__btn {
    width: 41%;
    margin-bottom: 10px;
    padding: 19px 30px;
    font: var(--font-strong-sans);
    line-height: 16px;
    border-radius: 10px;
    color: var(--color-white);
    background-color: var(--color-primary);
    @include laptop {
      width: 56%;
    }
    @include tablet {
      width: 57%;
    }
    @include mobile {
      width: 100%;
      padding: 18px 30px;
    }
  }
  &__link {
    width: 42%;
    margin-left: 15px;
    font-size: 16px;
    line-height: 20.8px;
    color: var(--color-primary);
    @include laptop {
      width: 45%;
      margin-left: 30px;
    }
    @include tablet {
      width: 49%;
    }
    @include mobile {
      width: inherit;
      margin: 0 auto;
    }
  }

  &-mobile {
    display: none;
    @include tablet {
      grid-row-start: 2;
      grid-column-start: 3;
      grid-column-end: 7;
      display: flex;
      margin-bottom: 0;
      justify-content: center;
    }
    @include mobile {
      grid-row-start: 3;
      grid-column: span 6;
      display: flex;
      margin-bottom: 16px;
    }
  }
}

.card-star {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  &__icon {
    width: 16px;
    height: 15px;
    margin-right: 3px;
    fill: #ff862f;
    @include tablet {
      margin-right: 7px;
    }
    @include mobile {
      margin-right: 5px;
    }
  }
  &__number {
    margin: 0;
    font: var(--font-small-sans);
    font-size: 16px;
    line-height: 20.8px;
    color: #ff862f;
  }
}

.card-property {
  width: 100%;
  &__item {
    position: relative;
    display: block;
    overflow: hidden;
    @include mobile {
      display: flex;
      flex-direction: column;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 7px;
      left: 0;
      width: 100%;
      height: 1px;
      border-top: 1px dotted var(--color-grey);
      @include mobile {
        display: none;
      }
    }
  }
  &__item:not(:last-child) {
    @include mobile {
      margin-bottom: 8px;
    }
  }
  &__key,
  &__value {
    font: var(--font-small-sans);
    line-height: 25.2px;
  }
  &__key {
    position: relative;
    display: inline-block;
    padding-right: 5px;
    z-index: 2;
    color: var(--color-grey);
    background: #fff;
    @include mobile {
      font-size: 10px;
      line-height: 13.62px;
    }
  }
  &__value {
    position: absolute;
    width: 42%;
    display: block;
    top: 0px;
    right: 0px;
    padding-left: 5px;
    z-index: 2;
    color: var(--color-black);
    background: #fff;
    @include laptop {
      width: 55%;
    }
    @include tablet {
      width: 35%;
    }
    @include mobile {
      position: inherit;
      width: 100%;
      padding-left: 0;
      line-height: 19.07px;
    }
  }
}

.card-swiper-button-prev,
.card-swiper-button-next {
  top: 0px;
  width: 32px;
  height: 32px;
  @include mobile {
    top: inherit;
    bottom: -49px;
  }
}
.card-swiper-button-prev {
  right: 44px;
  &::before,
  &::after {
    left: 12px;
    height: 9px;
  }
  &::before {
    top: 12px;
  }
  &::after {
    top: 7px;
  }
}
.card-swiper-button-next {
  right: 0;
  @include mobile {
    right: -48px;
  }
  &::before,
  &::after {
    left: 14px;
    height: 9px;
  }
  &::before {
    top: 12px;
  }
  &::after {
    top: 7px;
  }
}

.similar-product {
  position: relative;
  &__heading {
    margin: 0 0 24px 0;
    font-size: 24px;
    line-height: 31.2px;
  }
}

.similar-slide {
  position: relative;
  margin-right: 32px;
  display: grid;
  grid-template-rows: 150px min-content min-content auto;
  padding: 57px 0 30px 0;
  background-color: #f6f6f6;
  border-radius: 10px;
  @include mobile {
    grid-template-rows: 50px min-content min-content auto;
    padding: 57px 0 15px 0;
  }
  &__subtitle {
    margin: 0 0 20px 0;
    @include laptop{
      padding: 0;
    }
    @include mobile {
      margin: 0 0 16px 0;
      font-size: 16px;
      line-height: 20.8px;
    }
  }
  &__price {
    margin: 0 0 23px 0;
    font: var(--font-small-sans);
    font-size: 16px;
    line-height: 24px;
    color: var(--color-grey);
    @include mobile {
      margin: 0 0 17px 0;
      line-height: 20.8px;
    }
  }
  &__btn {
    width: 28%;
    padding: 19px 20px;
    font: var(--font-strong-sans);
    line-height: 16px;
    @include mobile {
      width: initial;
      padding: 10px 20px;
    }
  }
  &__subtitle,
  &__price,
  &__btn {
    margin-left: 30px;
    margin-right: 10px;
    @include laptop {
      margin-right: 7px;
    }
    @include mobile {
      margin-left: 16px;
      margin-right: 16px;
    }
  }

  img {
    @include mobile {
      max-width: 75%;
    }
  }
}
